.cards-section {
	padding: 40px 0px;
	@include media('>=desktop') {
		padding: 100px 0px;
	}

	&-body {
		margin-top: 40px;
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		@include media('>=tablet') {
			grid-template-columns: 1fr 1fr;
		}
		@include media('>=desktop') {
			margin-top: 60px;
			grid-template-columns: 1fr 1fr 1fr;
			row-gap: 50px;
			column-gap: 30px;
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		&:nth-child(odd) {
			.insights-section-slide-card-text {
				background-color: #0ca9d9;
			}
		}
	}
}