.case-section {
	overflow: hidden;
	padding: 40px 0px;
	&.explore-section {
		background-color: #0e283b;
	}
	@include media('>=desktop') {
		padding: 100px 0px;
	}

	h2 {
		margin: 0px;
		font-size: 32px;
		color: #639590;
		font-weight: 400;
		@include media('>=desktop') {
			font-size: 48px;
		}
	}

	&-slide {
		opacity: 0.5;
		box-sizing: border-box !important;
		display: grid;
		transition: all 0.25s ease 0s;
		@include media('>=desktop') {
			grid-template-columns: 1fr 1fr;
		}

		&.swiper-slide-active {
			opacity: 1;
		}

		& > * {
			&:last-child {
				.insights-section-slide-card-text{
					background-color: #0ca9d9;
				}
			}
		}
	}
}