.hero-section {
	&-logo {
		padding: 0px 16px;
		max-width: 400px;
		@include media('>=desktop') {
			padding: 0px 80px;
		}
	}
	&-slide {
		min-height: 90vh;
		position: relative;
		padding: 150px 0px 80px 0px;
		box-sizing: border-box !important;

		@include media('>=desktop') {
			padding: 185px 0px 80px 0px;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		&-content {
			position: relative;
			z-index: 2;

			h1 {
				margin: 0px;
				margin-top: 80px;
				max-width: 800px;
				color: white;
				font-size: 40px;
				font-weight: 400;
				span {
					color: #00a6d8;
				}
				@include media('>=tablet') {
					font-size: 60px;
				}
				@include media('>=desktop') {
					font-size: 90px;
				}
			}
		}
		
		&-divider {
			margin-top: 30px;
			display: block;
			height: 1px;
			width: 100%;
			max-width: 800px;
			background-color: #00a6d8;
		}

		&-text {
			margin: 0px;
			margin-top: 30px;
			color: white;
			font-size: 24px;
			font-weight: 300;
			max-width: 600px;
			@include media('>=tablet') {
				font-size: 36px;
			}
			@include media('>=desktop') {
				font-size: 48px;
			}
		}

		&-buttons {
			margin-top: 30px;
			display: flex;
			align-items: center;
			gap: 30px;
			flex-wrap: wrap;
		}
	}
}