.team-section {
	background-color: #0e283b;
	padding: 40px 0px;
	@include media('>=desktop') {
		padding: 100px 0px;
	}

	h2 {
		margin: 0px;
		font-size: 32px;
		color: #639590;
		font-weight: 400;
		@include media('>=desktop') {
			font-size: 48px;
		}
	}

	&-body {
		margin-top: 30px;
		display: grid;

		@include media('>=tablet') {
			grid-template-columns: 1fr 1fr;
		}

		@include media('>=desktop') {
			margin-top: 60px;
		}
	}

	&-content {
		background-image: url('../images/team-bg.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		gap: 20px;

		@include media('>=desktop') {
			padding: 40px;
		}

		h3 {
			margin: 0px;
			font-weight: 400;
			font-size: 32px;

			@include media('>=desktop') {
				font-size: 40px;
			}
		}

		a {
			span {
				background-color: white;
				display: inline-flex;
				width: 20px;
				align-items: center;
				justify-content: center;
				text-align: center;
				height: 20px;
				border-radius: 50%;
				color: #005149;
				font-weight: 700;
				font-size: 13px;
			}
		}
	}

	&-job-title {
		margin: 0px;
		color: white;
		font-weight: 700;
		font-size: 20px;

		@include media('>=desktop') {
			font-size: 28px;
		}
	}

	&-text {
		* {
			color: white;
			font-weight: 300;
			line-height: 150%;

			@include media('>=desktop') {
				font-weight: 18px;
			}
		}

		& > *:not(:first-child) {
			margin-top: 6px;
		}
	}
}