.testimonials-section {
	overflow: hidden;
	padding: 40px 0px;
	@include media('>=desktop') {
		padding: 100px 0px;
	}

	h2 {
		margin: 0px;
		font-size: 32px;
		color: white;
		font-weight: 400;
		text-align: center;
		@include media('>=desktop') {
			font-size: 48px;
		}
	}

	.insights-section-slider {
		margin-top: 50px;
		overflow: hidden !important;

		@include media('>=desktop') {
			margin-top: 100px;
		}
	}

	&-slide {
		box-sizing: border-box !important;
		display: flex !important;
		flex-direction: column;
		gap: 40px;
	}

	&-divider {
		margin: 0px auto;
		max-width: 50%;
		width: 100%;
		height: 1px;
		display: block;
		background-color: #005149;
		@include media('>=desktop') {
			max-width: 400px;
		}
	}

	&-item {
		margin: 0px auto;
		max-width: 80%;
		text-align: center;
		
		@include media('>=desktop') {
			max-width: 800px;
		}

		h3 {
			margin: 0px;
			color: white;
			font-size: 24px;
			font-weight: 400;
			@include media('>=desktop') {
				font-size: 32px;
			}
		}

		p {
			margin: 0px;
			margin-top: 12px;
			color: #005149;
			font-size: 20px;
			font-weight: 700;
		}
	}
	.insights-section-btn-prev {
		left: 0;
	}
	.insights-section-btn-next {
		right: 0;
	}
}