.accordion {
	&__title {
		position: relative;
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 20px;
		width: 100%;
		text-align: left;
		border: none;
		outline: none;
		&:after {
			position: absolute;
			content: '+';
			right: 20px;
		}
		&:hover {
			background-color: #ddd;
		}
		&.active {
			background-color: #ddd;
			&:after {
				content: '-';
			}
			& + .accordion__content {
				max-height: 1000px;
			}
		}
	}
	&__content {
		max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.5s;
		background-color: white;
		&.active {
			padding: 20px;
			overflow: visible;
			transition: 0.5s;
		}
	}
}