.button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: fit-content;
	gap: 20px;
	text-align: center;
	padding: 8px 16px;
	color: white;
	font-size: 16px;
	border-radius: 100px;
	min-width: 100px;
	font-weight: 300;
	transition: all 0.25s ease 0s;

	&.primary {
		background-color: #005149;
		&:hover {
			background-color: #00221f;
		}
	}
	&.secondary {
		background-color: #00a6d8;
		&:hover {
			background-color: #006685;
		}
	}
}