.noscroll {
  overflow: hidden;
}
.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(256, 256, 256, 0.4);
  transition: opacity 0.5s ease;
  &.active {
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: -3;
  padding: 0 15px;
  width: 100%;
  max-width: 320px;
  opacity: 0;
  transition: opacity 0.5s ease;
  @include media('>=tablet') {
    max-width: 590px;
  }
  &.active {
    opacity: 1;
    z-index: 99;
    transform: translate(-50%, -45%);
    transition: opacity 0.5s ease;
  }
  &__wrap {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px;
    min-height: 220px;
    @include media('>=tablet') {
      min-height: 380px;
    }
  }
  &__close {
    position: absolute;
    right: 39px;
    top: 13px;
    z-index: 999;
    @include media('>=tablet') {
      right: 49px;
      top: 23px;
    }
    &:before, &:after {
      position: absolute;
      left: 0;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
