.tabs {
  &__header {
    display: flex;
  }

  &__btn {
    color: #000;

    &.active {
      color: #CCC;
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.wrapper {
	height: 3000px;
}

.btn-top {
	width: 20px;
	height: 20px;
	background-color: #000;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1;
	transition: all 0.3s ease;
	&.hide {
		opacity: 0;
	}
	&.show {
		opacity: 1;
	}
}