
// When using the script 'burger-menu' add class overflow
body {
  &.overflow {
    overflow: hidden;
  }
}

// Slides became the same height
.swiper-container-initialized {
  height: 100%;
}
.swiper-slide {
  height: auto;
  &>* {
    height: 100%;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0px 16px;
  margin: 0px auto;
  @include media('>=desktop') {
    padding: 0px 80px;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}