.footer {
	background-color: #0e283b;
	padding: 40px 0px;
	@include media('>=desktop') {
		padding: 100px 0px;
	}

	.cases & {
		background-color: #091c2c;
	}

	&-body {
		display: grid;
		gap: 20px;
		@include media('>=tablet') {
			grid-template-columns: repeat(3,1fr);
		}
		@include media('>=desktop') {
			grid-template-columns: repeat(5,1fr);
		}
	}

	&-logo {
		max-width: 70%;
	}

	&-socials {
		margin-top: 16px;
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&-social {
		background-color: #00a6d8;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: black;
		font-size: 18px;
		font-weight: 700;
	}

	&-heading {
		margin: 0px;
		font-weight: 700;
		color: #00a6d8;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&-list,
	&-text {
		margin-top: 6px;
	}

	&-link,
	&-text * {
		margin: 0px;
		color: white;
		font-weight: 300;
		line-height: 150%;
	}

	&-link {
		transition: all 0.25s ease 0s;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 1px;
			width: 0px;
			left: 0;
			height: 1px;
			background-color: #639590;
			transition: all 0.25s ease 0s;
		}
		&:hover {
			color: #639590;
			font-weight: 700;
			&::after {
				width: 100%;
			}
		}
	}
}