.header {
  background: linear-gradient(to right, #091c2c, #737f89);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  padding: 30px 0px;
  &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 16px;
    @include media('>=desktop') {
      padding: 0px 80px;
    }
  }
  &-menu {
    &-burger {
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media('>=widescreen-mega') {
				display: none;
			}
    }

    &-burger span,
    &-burger span::before,
    &-burger span::after {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      transition: all 0.3s ease;
      content: '';
      left: 0;
    }

    &-burger span::before {
      top: -8px;
    }

    &-burger span::after {
      top: 8px;
    }

    /* Анимация при активном состоянии */
    &-burger.active span {
      background-color: transparent;
    }

    &-burger.active span::before {
      transform: rotate(45deg);
      top: 0;
    }

    &-burger.active span::after {
      transform: rotate(-45deg);
      top: 0;
    }
    &-list {
      display: flex;
      align-items: center;
      gap: 20px;
      
      @include media('<widescreen-mega') {
        position: fixed;
        top: 105px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to right, #091c2c, #737f89);
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 16px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        overflow-y: auto;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
			}
      @include media('<tablet') {
        top: 70px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 20px;
      @include media('>=widescreen-mega') {
        &:not(:last-child) {
          &::after {
            content: '';
            width: 1px;
            display: block;
            height: 16px;
            background-color: #00a5d8;
          }
        }
      }
    }

    &-link {
      color: white;
      font-size: 13px;
      transition: all 0.25s ease 0s;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 0px;
        left: 0;
        height: 1px;
        background-color: #639590;
        transition: all 0.25s ease 0s;
      }
      &:hover {
        color: #639590;
        font-weight: 700;
        &::after {
          width: 100%;
        }
      }
    }
  }

  &-search {
    display: none;
    align-items: center;
    gap: 16px;

    @include media('>=desktop') {
      display: flex;
    }

    p {
      margin: 0px;
      font-weight: 300;
      color: white;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-action-link {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: fit-content;
    color: white;
    font-weight: 300;
    line-height: 100%;

    transition: all 0.25s ease 0s;
    position: relative;

    &:hover {
      color: #639590;
      font-weight: 700;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;

      svg {
        display: block;
        width: 15px;
      }
    }
  }
}

