<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="footer-column">
                <a href="#" class="footer-logo">
                    <img src="/assets/images/hero-section-logo.png" alt="footer-logo" loading="lazy">
                </a>
                <div class="footer-socials">
                    <a href="#" class="footer-social">
                        X
                    </a>
                    <a href="#" class="footer-social">
                        f
                    </a>
                    <a href="#" class="footer-social">
                        in
                    </a>
                </div>
            </div>
            <div class="footer-column">
                <p class="footer-heading">Services</p>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="footer-heading">Services</p>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="footer-heading">Services</p>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="footer-heading">Contact Us</p>
                <div class="footer-text">
                    <p>London: 020 7222 5525</p>
                    <p>London: 020 7222 5525</p>
                    <p>London: 020 7222 5525</p>
                    <p>London: 020 7222 5525</p>
                </div>
                <p class="footer-heading">Quick Links</p>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Executive Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>